@use "./colors" as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');






h1 {
  font-size: 32px;
  font-weight: 700;
  color: $prytextcolor;
  font-family: "Inter", sans-serif;

  @media (max-width: 768px) {
    font-size: 26px;
  }
}

h2 {
  font-size: 30px;
  font-weight: 700;
  color: $prytextcolor;
  font-family: "Inter", sans-serif;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

h3 {
  font-size: 28px;
  font-weight: 400;
  color: $prytextcolor;
  font-family: "Inter", sans-serif;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}
h4 {
  font-size: 20px;
  font-weight: 500;
  color: $prytextcolor;
    font-family: "Inter", sans-serif;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

h5 {
  font-size: 18px;
  font-weight: 600;
  color: $prytextcolor;
    font-family: "Inter", sans-serif;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

h6 {
  font-size: 16px;
  font-weight: 400;
  color: $prytextcolor;
    font-family: "Inter", sans-serif;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}
p {
  font-size: 14px;
  font-weight: 400;
  color: $prytextcolor;
    font-family: "Inter", sans-serif;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.p-small {
  font-size: 16px;
  font-weight: 400;
  color: $prytextcolor;
    font-family: "Inter", sans-serif;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.card-title {
  font-family: "Roboto", sans-serif !important;
  font-size: 56px;

  font-weight: 700;
 
  @media (max-width: 768px) {
    font-size: 28px;
  }
}
.card-text {
  font-family: "Roboto", sans-serif !important;
  font-size: 24px;
  font-weight: 400;


  @media (max-width: 768px) {
    font-size: 15px;
  }
}

.card-text-small {
  color: $prytextcolor;
  font-size: 20px;
  font-weight: 400;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}


  textarea::placeholder, input::placeholder{
    font-size: 13px;
    @media (max-width: 768px) {
      font-size: 12px;
    }
}
