@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
h1 {
  font-size: 32px;
  font-weight: 700;
  color: #000000;
  font-family: "Inter", sans-serif;
}
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  font-family: "Inter", sans-serif;
}
@media (max-width: 768px) {
  h2 {
    font-size: 18px;
  }
}

h3 {
  font-size: 28px;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
}
@media (max-width: 768px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  font-family: "Inter", sans-serif;
}
@media (max-width: 768px) {
  h4 {
    font-size: 16px;
  }
}

h5 {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  font-family: "Inter", sans-serif;
}
@media (max-width: 768px) {
  h5 {
    font-size: 12px;
  }
}

h6 {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
}
@media (max-width: 768px) {
  h6 {
    font-size: 14px;
  }
}

p {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
}
@media (max-width: 768px) {
  p {
    font-size: 12px;
  }
}

.p-small {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
}
@media (max-width: 768px) {
  .p-small {
    font-size: 12px;
  }
}

.card-title {
  font-family: "Roboto", sans-serif !important;
  font-size: 56px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .card-title {
    font-size: 28px;
  }
}

.card-text {
  font-family: "Roboto", sans-serif !important;
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .card-text {
    font-size: 19px;
  }
}

.card-text-small {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .card-text-small {
    font-size: 16px;
  }
}

textarea::-moz-placeholder, input::-moz-placeholder {
  font-size: 13px;
}

textarea::placeholder, input::placeholder {
  font-size: 13px;
}
@media (max-width: 768px) {
  textarea::-moz-placeholder, input::-moz-placeholder {
    font-size: 12px;
  }
  textarea::placeholder, input::placeholder {
    font-size: 12px;
  }
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0 !important;
  overflow-x: hidden !important;
}

.btn {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.btn-primary {
  background-color: #81AC29 !important;
  color: #ffffff;
  border: none !important;
}

.btn-secondary {
  color: #81AC29 !important;
  background-color: #ffffff !important;
  border: none !important;
}

.navbar-toggler-collapsed, .navbar-toggler-icon {
  color: #fff !important;
  fill: #fff !important;
}

.guest-navbar .nav-link {
  color: #fff;
  font-size: 16px;
  font-family: "Poppins";
}
.guest-navbar .nav-link:hover, .guest-navbar .active {
  border-bottom: 1px solid #ffffff !important;
  color: #fff !important;
  border-radius: none !important;
}

.sidebar {
  transition: transform 0.3s ease-in-out;
  flex-direction: column;
  justify-content: center;
}

.sidebar .nav-link, .service-bar .nav-link {
  color: #000000;
  font-size: 16px;
  font-family: "Poppins";
}
.sidebar .nav-link:hover, .sidebar .active, .service-bar .nav-link:hover, .service-bar .active {
  background-color: #E5F1FF;
  color: #000000;
  font-weight: 500;
}

@media (max-width: 768px) {
  .nav-link {
    font-size: 14px;
  }
}
.about .nav-link {
  font-size: 12px;
  color: #848484;
}
.about .active {
  color: #81AC29;
}
/*# sourceMappingURL=styles.css.map */